<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
             http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- service -->
	<bean
		id="treasureService"
		class="org.openyu.mix.treasure.service.impl.TreasureServiceImpl"
		parent="appServiceSupporter" />


	<!-- log -->
	<bean
		id="treasureLogDao"
		class="org.openyu.mix.treasure.dao.impl.TreasureLogDaoImpl"
		parent="appLogDaoSupporter" />

	<bean
		id="treasureLogService"
		class="org.openyu.mix.treasure.service.impl.TreasureLogServiceImpl"
		parent="appLogServiceSupporter" />
		
	<!-- aspect -->
	<bean
		id="treasureAspect"
		class="org.openyu.mix.treasure.aop.TreasureAspect"
		parent="appAspectSupporter" />			
	
	<!-- socklet -->
	<bean
		id="treasureSocklet"
		class="org.openyu.mix.treasure.socklet.TreasureSocklet"
		parent="slaveSockletServiceSupporter">
		<property
			name="id"
			value="TREASURE" />
	</bean>

	<!-- adapter -->
	<bean
		id="treasureChangeAdapter"
		class="org.openyu.mix.treasure.service.adapter.TreasureChangeAdapter" />

</beans>