<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
             http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- dao -->
	<bean
		id="accountDao"
		class="org.openyu.mix.account.dao.impl.AccountDaoImpl"
		parent="appDaoSupporter" />

	<!-- service -->
	<bean
		id="accountService"
		class="org.openyu.mix.account.service.impl.AccountServiceImpl"
		parent="appServiceSupporter" />
	
	<!-- log -->
	<bean
		id="accountLogDao"
		class="org.openyu.mix.account.dao.impl.AccountLogDaoImpl"
		parent="appLogDaoSupporter" />

	<bean
		id="accountLogService"
		class="org.openyu.mix.account.service.impl.AccountLogServiceImpl"
		parent="appLogServiceSupporter" />

	<!-- aspect -->
	<bean
		id="accountAspect"
		class="org.openyu.mix.account.aop.AccountAspect"
		parent="appAspectSupporter" />
		
	<!-- socklet -->
	<bean
		id="accountSocklet"
		class="org.openyu.mix.account.socklet.AccountSocklet"
		parent="accountSockletServiceSupporter">
		<property
			name="id"
			value="ACCOUNT" />
	</bean>

</beans>