<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<import resource="classpath:applicationContext-init.xml" />

	<bean
		id="threadService"
		class="org.openyu.commons.thread.impl.ThreadServiceImpl"
		p:maxExecutorSize="2"
		p:corePoolSize="50"
		p:keepAliveSeconds="300"
		p:maxPoolSize="50"
		p:queueCapacity="25" />

	<bean
		id="baseServiceSupporter"
		class="org.openyu.commons.service.supporter.BaseServiceSupporter" />

	<bean
		id="messageService"
		class="org.openyu.socklet.message.service.impl.MessageServiceImpl"
		parent="baseServiceSupporter" />

	<bean
		id="protocolService"
		class="org.openyu.socklet.message.service.impl.ProtocolServiceImpl"
		parent="baseServiceSupporter"
		p:checksum="${protocolService.checksum}"
		p:checksumType="${protocolService.checksumType}"
		p:checksumKey="${protocolService.checksumKey}"
		p:compress="${protocolService.compress}"
		p:compressType="${protocolService.compressType}"
		p:security="${protocolService.security}"
		p:securityType="${protocolService.securityType}"
		p:securityKey="${protocolService.securityKey}" />

</beans>