<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
             http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
             http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- dao -->

	<!-- service -->
	<bean id="wuxingMachine"
		class="org.openyu.mix.wuxing.service.impl.WuxingMachineImpl"
		parent="baseServiceSupporter">
	</bean>
 
	<bean id="wuxingService"
		class="org.openyu.mix.wuxing.service.impl.WuxingServiceImpl"
		parent="appServiceSupporter">
		<property name="itemService" ref="itemService" />
		<property name="accountService" ref="accountService" />
		<property name="roleService" ref="roleService" />
		<property name="wuxingMachine" ref="wuxingMachine" />
	</bean>

	<!-- advisor -->
	<bean id="wuxingPlayAdvice"
		class="org.openyu.mix.wuxing.service.aop.WuxingPlayInterceptor"
		parent="baseMethodInterceptorSupporter">
		<property name="wuxingLogService" ref="wuxingLogService" />
	</bean>
	<aop:config>
		<aop:pointcut id="wuxingPlayPointcut"
			expression="execution(* org.openyu.mix.wuxing.service.impl.WuxingServiceImpl.play*(..))" />
		<aop:advisor id="wuxingPlayAdvisor" advice-ref="wuxingPlayAdvice"
			pointcut-ref="wuxingPlayPointcut" />
	</aop:config>

	<bean id="wuxingPutOneAdvice"
		class="org.openyu.mix.wuxing.service.aop.WuxingPutOneInterceptor"
		parent="baseMethodInterceptorSupporter">
		<property name="wuxingLogService" ref="wuxingLogService" />
	</bean>
	<aop:config>
		<aop:pointcut id="wuxingPutOnePointcut"
			expression="execution(* org.openyu.mix.wuxing.service.impl.WuxingServiceImpl.putOne*(..))" />
		<aop:advisor id="wuxingPutOneAdvisor" advice-ref="wuxingPutOneAdvice"
			pointcut-ref="wuxingPutOnePointcut" />
	</aop:config>

	<bean id="wuxingPutAllAdvice"
		class="org.openyu.mix.wuxing.service.aop.WuxingPutAllInterceptor"
		parent="baseMethodInterceptorSupporter">
		<property name="wuxingLogService" ref="wuxingLogService" />
	</bean>
	<aop:config>
		<aop:pointcut id="wuxingPutAllPointcut"
			expression="execution(* org.openyu.mix.wuxing.service.impl.WuxingServiceImpl.putAll*(..))" />
		<aop:advisor id="wuxingPutAllAdvisor" advice-ref="wuxingPutAllAdvice"
			pointcut-ref="wuxingPutAllPointcut" />
	</aop:config>

	<!-- log dao -->
	<bean id="wuxingLogDao" class="org.openyu.mix.wuxing.dao.impl.WuxingLogDaoImpl"
		parent="appLogDaoSupporter" />

	<!-- log service -->
	<bean id="wuxingLogService"
		class="org.openyu.mix.wuxing.service.impl.WuxingLogServiceImpl"
		parent="appLogServiceSupporter">
		<property name="roleService" ref="roleService" />
		<property name="wuxingLogDao" ref="wuxingLogDao" />
	</bean>

	<!-- socklet -->
	<bean id="wuxingSocklet" class="org.openyu.mix.wuxing.service.socklet.WuxingSocklet"
		parent="slaveSockletServiceSupporter">
		<property name="id" value="WUXING" />
		<property name="roleService" ref="roleService" />
		<property name="wuxingMachine" ref="wuxingMachine" />
		<property name="wuxingService" ref="wuxingService" />
	</bean>

	<!-- adapter -->
	<bean id="wuxingChangeAdapter" class="org.openyu.mix.wuxing.service.adapter.WuxingChangeAdapter">
		<property name="wuxingService" ref="wuxingService" />
	</bean>	

</beans>