<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
             http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">


	<!-- service -->
	<bean
		id="wuxingMachine"
		class="org.openyu.mix.wuxing.service.impl.WuxingMachineImpl"
		parent="baseServiceSupporter">
	</bean>

	<bean
		id="wuxingService"
		class="org.openyu.mix.wuxing.service.impl.WuxingServiceImpl"
		parent="appServiceSupporter">
	</bean>

	<!-- log -->
	<bean
		id="wuxingLogDao"
		class="org.openyu.mix.wuxing.dao.impl.WuxingLogDaoImpl"
		parent="appLogDaoSupporter" />

	<bean
		id="wuxingLogService"
		class="org.openyu.mix.wuxing.service.impl.WuxingLogServiceImpl"
		parent="appLogServiceSupporter">
	</bean>
	
	<!-- aspect -->
	<bean
		id="wuxingAspect"
		class="org.openyu.mix.wuxing.aop.WuxingAspect"
		parent="appAspectSupporter" />	

	<!-- socklet -->
	<bean
		id="wuxingSocklet"
		class="org.openyu.mix.wuxing.socklet.WuxingSocklet"
		parent="slaveSockletServiceSupporter">
		<property
			name="id"
			value="WUXING" />
	</bean>

	<!-- adapter -->
	<bean
		id="wuxingChangeAdapter"
		class="org.openyu.mix.wuxing.service.adapter.WuxingChangeAdapter">
	</bean>

</beans>