<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
             http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- service -->
	<bean
		id="itemService"
		class="org.openyu.mix.item.service.impl.ItemServiceImpl"
		parent="appServiceSupporter" />

	<!-- dao -->
	<bean
		id="itemLogDao"
		class="org.openyu.mix.item.dao.impl.ItemLogDaoImpl"
		parent="appLogDaoSupporter" />

	<!-- service -->
	<bean
		id="itemLogService"
		class="org.openyu.mix.item.service.impl.ItemLogServiceImpl"
		parent="appLogServiceSupporter" />

	<!-- aspect -->
	<bean
		id="itemAspect"
		class="org.openyu.mix.item.aop.ItemAspect"
		parent="appAspectSupporter" />
		
	<!-- socklet -->
	<bean
		id="itemSocklet"
		class="org.openyu.mix.item.socklet.ItemSocklet"
		parent="slaveSockletServiceSupporter">
		<property
			name="id"
			value="ITEM" />
	</bean>

</beans>