<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!-- service -->
	<bean
		id="coreService"
		class="org.openyu.mix.core.service.impl.CoreServiceImpl"
		parent="appServiceSupporter" />

	<!-- listener -->
	<bean
		id="coreContextAdapter"
		class="org.openyu.mix.core.service.adapter.CoreContextAdapter"
		parent="systemContextAdapter" />
	
	<!-- server關聯連線 -->
	<bean
		id="coreRelationAdapter"
		class="org.openyu.mix.core.service.adapter.CoreRelationAdapter"
		parent="systemRelationAdapter" />

	<!-- client連線-->
	<bean
		id="coreSessionAdapter"
		class="org.openyu.mix.core.service.adapter.CoreSessionAdapter"
		parent="systemSlaveSessionAdapter" />

	<!-- log -->
	<bean
		id="coreLogDao"
		class="org.openyu.mix.core.dao.impl.CoreLogDaoImpl"
		parent="appLogDaoSupporter" />

	<bean
		id="coreLogService"
		class="org.openyu.mix.core.service.impl.CoreLogServiceImpl"
		parent="appLogServiceSupporter">
	</bean>

	<!-- aspect -->
	<bean
		id="coreAspect"
		class="org.openyu.mix.core.aop.CoreAspect"
		parent="appAspectSupporter" />	
	
	<!-- socklet -->
	<bean
		id="coreSocklet"
		class="org.openyu.mix.core.service.socklet.CoreSocklet"
		parent="systemSlaveSockletServiceSupporter"
		p:id="CORE" />

</beans>