<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
             http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- dao -->

	<!-- service -->
	<!-- 活動服務 -->
	<bean id="activityService"
		class="org.openyu.mix.activity.service.impl.ActivityServiceImpl"
		parent="appServiceSupporter" lazy-init="true" />

	<!-- socklet -->
	<bean id="activitySocklet" class="org.openyu.mix.activity.service.socklet.ActivitySocklet"
		parent="slaveSockletServiceSupporter"  lazy-init="true" >
		<property name="id" value="ACTIVITY" />
	</bean>
</beans>