<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
             http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">


	<!-- service -->
	<bean
		id="sasangMachine"
		class="org.openyu.mix.sasang.service.impl.SasangMachineImpl"
		parent="appServiceSupporter">
	</bean>

	<bean
		id="sasangService"
		class="org.openyu.mix.sasang.service.impl.SasangServiceImpl"
		parent="appServiceSupporter">
	</bean>

	<!-- log -->
	<bean
		id="sasangLogDao"
		class="org.openyu.mix.sasang.dao.impl.SasangLogDaoImpl"
		parent="appLogDaoSupporter" />

	<bean
		id="sasangLogService"
		class="org.openyu.mix.sasang.service.impl.SasangLogServiceImpl"
		parent="appLogServiceSupporter">
	</bean>

	<!-- aspect -->
	<bean
		id="sasangAspect"
		class="org.openyu.mix.sasang.aop.SasangAspect"
		parent="appAspectSupporter" />	

	<!-- socklet -->
	<bean
		id="sasangSocklet"
		class="org.openyu.mix.sasang.socklet.SasangSocklet"
		parent="slaveSockletServiceSupporter">
		<property
			name="id"
			value="SASANG" />
	</bean>

	<!-- adapter -->
	<bean
		id="sasangChangeAdapter"
		class="org.openyu.mix.sasang.service.adapter.SasangChangeAdapter">
	</bean>

</beans>