<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- old
	<bean id="accountStarter" class="org.openyu.socklet.acceptor.vo.impl.AcceptorStarterImpl">
		<property name="id" value="account" />
	</bean>
	-->

	<bean
		id="acceptorServiceFactoryBean"
		class="org.openyu.socklet.acceptor.service.impl.AcceptorServiceFactoryBean"
		parent="baseServiceFactoryBeanSupporter"
		p:configLocation="file:src/test/config/etc/AcceptorService.properties"
		p:acceptorId="account" />

</beans>