<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
             http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- supporter -->
	<bean
		id="acceptorSupporter"
		parent="acceptorServiceSupporter"
		abstract="true"
		p:moduleTypeName="${acceptorSupporter.moduleTypeName}"
		p:messageTypeName="${acceptorSupporter.messageTypeName}" />

	<!-- account -->
	<bean
		id="accountAcceptor"
		parent="acceptorSupporter">
		<property
			name="id"
			value="${account.id}" />
		<property
			name="instanceId"
			value="${account.instanceId}" />
		<property
			name="outputId"
			value="${account.outputId}" />
		<property name="relationServers">
			<list>
				<value>${account.relationServers.0}</value>
				<value>${account.relationServers.1}</value>
			</list>
		</property>
		<property name="clientServers">
			<list>
				<value>${account.clientServers.0}</value>
				<value>${account.clientServers.1}</value>
			</list>
		</property>
		<property
			name="maxClient"
			value="${account.maxClient}" />
		<property
			name="cluster"
			value="${account.cluster}" />
		<property name="relations">
			<list>
				<value>${account.relations.0}</value>
				<value>${account.relations.1}</value>
				<value>${account.relations.2}</value>
				<value>${account.relations.3}</value>
			</list>
		</property>
		<property
			name="retryNumber"
			value="${account.retryNumber}" />
		<property
			name="retryPauseMills"
			value="${account.retryPauseMills}" />
		<property
			name="relationRetryNumber"
			value="${account.relationRetryNumber}" />
		<property
			name="relationRetryPauseMills"
			value="${account.relationRetryPauseMills}" />
	</bean>

	<!-- login -->
	<bean
		id="loginAcceptor"
		parent="acceptorSupporter">
		<property
			name="id"
			value="${login.id}" />
		<property
			name="instanceId"
			value="${login.instanceId}" />
		<property
			name="outputId"
			value="${login.outputId}" />
		<property name="relationServers">
			<list>
				<value>${login.relationServers.0}</value>
				<value>${login.relationServers.1}</value>
			</list>
		</property>
		<property name="clientServers">
			<list>
				<value>${login.clientServers.0}</value>
				<value>${login.clientServers.1}</value>
			</list>
		</property>
		<property
			name="maxClient"
			value="${login.maxClient}" />
		<property
			name="cluster"
			value="${login.cluster}" />
		<property name="relations">
			<list>
				<value>${login.relations.0}</value>
				<value>${login.relations.1}</value>
				<value>${login.relations.2}</value>
				<value>${login.relations.3}</value>
				<value>${login.relations.4}</value>
			</list>
		</property>
		<property
			name="retryNumber"
			value="${login.retryNumber}" />
		<property
			name="retryPauseMills"
			value="${login.retryPauseMills}" />
		<property
			name="relationRetryNumber"
			value="${login.relationRetryNumber}" />
		<property
			name="relationRetryPauseMills"
			value="${login.relationRetryPauseMills}" />
	</bean>

	<!-- master -->
	<bean
		id="masterAcceptor"
		parent="acceptorSupporter">
		<property
			name="id"
			value="${master.id}" />
		<property
			name="instanceId"
			value="${master.instanceId}" />
		<property
			name="outputId"
			value="${master.outputId}" />
		<property name="relationServers">
			<list>
				<value>${master.relationServers.0}</value>
				<value>${master.relationServers.1}</value>
			</list>
		</property>
		<property name="clientServers">
			<list>
				<value>${master.clientServers.0}</value>
				<value>${master.clientServers.1}</value>
			</list>
		</property>
		<property
			name="maxClient"
			value="${master.maxClient}" />
		<property
			name="cluster"
			value="${master.cluster}" />
		<property name="relations">
			<list>
				<value>${master.relations.0}</value>
				<value>${master.relations.1}</value>
				<value>${master.relations.2}</value>
			</list>
		</property>
		<property
			name="retryNumber"
			value="${master.retryNumber}" />
		<property
			name="retryPauseMills"
			value="${master.retryPauseMills}" />
		<property
			name="relationRetryNumber"
			value="${master.relationRetryNumber}" />
		<property
			name="relationRetryPauseMills"
			value="${master.relationRetryPauseMills}" />
	</bean>

	<!-- slave1 -->
	<bean
		id="slave1Acceptor"
		parent="acceptorSupporter">
		<property
			name="id"
			value="${slave1.id}" />
		<property
			name="instanceId"
			value="${slave1.instanceId}" />
		<property
			name="outputId"
			value="${slave1.outputId}" />
		<property name="relationServers">
			<list>
				<value>${slave1.relationServers.0}</value>
				<value>${slave1.relationServers.1}</value>
			</list>
		</property>
		<property name="clientServers">
			<list>
				<value>${slave1.clientServers.0}</value>
				<value>${slave1.clientServers.1}</value>
			</list>
		</property>
		<property
			name="maxClient"
			value="${slave1.maxClient}" />
		<property
			name="cluster"
			value="${slave1.cluster}" />
		<property name="relations">
			<list>
			</list>
		</property>
		<property
			name="retryNumber"
			value="${slave1.retryNumber}" />
		<property
			name="retryPauseMills"
			value="${slave1.retryPauseMills}" />
		<property
			name="relationRetryNumber"
			value="${slave1.relationRetryNumber}" />
		<property
			name="relationRetryPauseMills"
			value="${slave1.relationRetryPauseMills}" />
	</bean>

	<!-- slave2 -->
	<bean
		id="slave2Acceptor"
		parent="acceptorSupporter">
		<property
			name="id"
			value="${slave2.id}" />
		<property
			name="instanceId"
			value="${slave2.instanceId}" />
		<property
			name="outputId"
			value="${slave2.outputId}" />
		<property name="relationServers">
			<list>
				<value>${slave2.relationServers.0}</value>
				<value>${slave2.relationServers.1}</value>
			</list>
		</property>
		<property name="clientServers">
			<list>
				<value>${slave2.clientServers.0}</value>
				<value>${slave2.clientServers.1}</value>
			</list>
		</property>
		<property
			name="maxClient"
			value="${slave2.maxClient}" />
		<property
			name="cluster"
			value="${slave2.cluster}" />
		<property name="relations">
			<list>
				<value>${slave2.relations.0}</value>
			</list>
		</property>
		<property
			name="retryNumber"
			value="${slave2.retryNumber}" />
		<property
			name="retryPauseMills"
			value="${slave2.retryPauseMills}" />
		<property
			name="relationRetryNumber"
			value="${slave2.relationRetryNumber}" />
		<property
			name="relationRetryPauseMills"
			value="${slave2.relationRetryPauseMills}" />
	</bean>

	<!-- slave3 -->
	<bean
		id="slave3Acceptor"
		parent="acceptorSupporter">
		<property
			name="id"
			value="${slave3.id}" />
		<property
			name="instanceId"
			value="${slave3.instanceId}" />
		<property
			name="outputId"
			value="${slave3.outputId}" />
		<property name="relationServers">
			<list>
				<value>${slave3.relationServers.0}</value>
				<value>${slave3.relationServers.1}</value>
			</list>
		</property>
		<property name="clientServers">
			<list>
				<value>${slave3.clientServers.0}</value>
				<value>${slave3.clientServers.1}</value>
			</list>
		</property>
		<property
			name="maxClient"
			value="${slave3.maxClient}" />
		<property
			name="cluster"
			value="${slave3.cluster}" />
		<property name="relations">
			<list>
				<value>${slave3.relations.0}</value>
				<value>${slave3.relations.1}</value>
			</list>
		</property>
		<property
			name="retryNumber"
			value="${slave3.retryNumber}" />
		<property
			name="retryPauseMills"
			value="${slave3.retryPauseMills}" />
		<property
			name="relationRetryNumber"
			value="${slave3.relationRetryNumber}" />
		<property
			name="relationRetryPauseMills"
			value="${slave3.relationRetryPauseMills}" />
	</bean>
	
	<!-- system -->
	<bean
		id="systemAcceptor"
		parent="acceptorSupporter">
		<property
			name="id"
			value="${system.id}" />
		<property
			name="instanceId"
			value="${system.instanceId}" />
		<property
			name="outputId"
			value="${system.outputId}" />
		<property name="relationServers">
			<list>
				<value>${system.relationServers.0}</value>
				<value>${system.relationServers.1}</value>
			</list>
		</property>
		<property name="clientServers">
			<list>
				<value>${system.clientServers.0}</value>
				<value>${system.clientServers.1}</value>
			</list>
		</property>
		<property
			name="maxClient"
			value="${system.maxClient}" />
		<property
			name="cluster"
			value="${system.cluster}" />
		<property name="relations">
			<list>
				<value>${system.relations.0}</value>
				<value>${system.relations.1}</value>
				<value>${system.relations.2}</value>
				<value>${system.relations.3}</value>
				<value>${system.relations.4}</value>
				<value>${system.relations.5}</value>
			</list>
		</property>
		<property
			name="retryNumber"
			value="${system.retryNumber}" />
		<property
			name="retryPauseMills"
			value="${system.retryPauseMills}" />
		<property
			name="relationRetryNumber"
			value="${system.relationRetryNumber}" />
		<property
			name="relationRetryPauseMills"
			value="${system.relationRetryPauseMills}" />
	</bean>
</beans>