<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
             http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- 每天 0時0分0秒 執行 -->
	<bean
		id="coreDay00_00JobDetail"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property
			name="jobClass"
			value="org.openyu.mix.core.service.impl.CoreDay00_00Job" />
		<property
			name="durability"
			value="true" />
	</bean>

	<bean
		id="coreDay00_00Trigger"
		class="org.openyu.commons.quartz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="coreDay00_00JobDetail" />
		</property>
		<property name="cronExpression">
			<value>0 0 0 * * ? *</value>
		</property>
	</bean>

	<!-- 每天 3時0分0秒 執行 -->
	<bean
		id="coreDay00_03JobDetail"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property
			name="jobClass"
			value="org.openyu.mix.core.service.impl.CoreDay00_03Job" />
		<property
			name="durability"
			value="true" />
	</bean>

	<bean
		id="coreDay00_03Trigger"
		class="org.openyu.commons.quartz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="coreDay00_03JobDetail" />
		</property>
		<property name="cronExpression">
			<value>0 0 3 * * ? *</value>
		</property>
	</bean>

	<!-- 每天 6時0分0秒 執行 -->
	<bean
		id="coreDay00_06JobDetail"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property
			name="jobClass"
			value="org.openyu.mix.core.service.impl.CoreDay00_06Job" />
		<property
			name="durability"
			value="true" />
	</bean>

	<bean
		id="coreDay00_06Trigger"
		class="org.openyu.commons.quartz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="coreDay00_06JobDetail" />
		</property>
		<property name="cronExpression">
			<value>0 0 6 * * ? *</value>
		</property>
	</bean>

	<bean
		id="scheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property
			name="schedulerName"
			value="scheduler" />
		<property
			name="configLocation"
			value="file:src/test/config/etc/quartz.properties" />
		<property
			name="autoStartup"
			value="true" />
		<property
			name="applicationContextSchedulerContextKey"
			value="applicationContext" />
		<property name="jobFactory">
			<bean class="org.openyu.commons.quartz.AutowiringSpringBeanJobFactory" />
		</property>
		<property
			name="overwriteExistingJobs"
			value="true" />
		<!-- NOTE: Must add both the jobDetail and trigger to the scheduler! -->
		<property name="jobDetails">
			<list>
				<ref bean="coreDay00_00JobDetail" />
				<ref bean="coreDay00_03JobDetail" />
				<ref bean="coreDay00_06JobDetail" />
			</list>
		</property>
		<property name="triggers">
			<list>
				<ref bean="coreDay00_00Trigger" />
				<ref bean="coreDay00_03Trigger" />
				<ref bean="coreDay00_06Trigger" />
			</list>
		</property>
	</bean>
</beans>