<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
             http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- debug -->
	<bean
		id="debugService"
		class="org.openyu.mix.chat.service.impl.DebugServiceImpl"
		parent="appServiceSupporter" />

	<!-- dao -->
	<bean
		id="chatDao"
		class="org.openyu.mix.chat.dao.impl.ChatDaoImpl"
		parent="appDaoSupporter" />

	<!-- service -->
	<bean
		id="chatService"
		class="org.openyu.mix.chat.service.impl.ChatServiceImpl"
		parent="appServiceSupporter" />

	<!-- store service -->
	<bean
		id="storeChatService"
		class="org.openyu.mix.chat.service.impl.StoreChatServiceImpl"
		parent="appServiceSupporter" />
		
	<!-- aspect -->
	<bean
		id="debugAspect"
		class="org.openyu.mix.chat.aop.DebugAspect"
		parent="appAspectSupporter" />

	<!-- socklet -->
	<bean
		id="chatSocklet"
		class="org.openyu.mix.chat.socklet.ChatSocklet"
		parent="slaveSockletServiceSupporter">
		<property
			name="id"
			value="CHAT" />
	</bean>

</beans>